*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* HEADER */
  header{
      background-color: #A632D4;
      display: flex;
      height: 85px;
      /*width: 100vw;*/
      color: white;
      font-family: 'Balsamiq Sans', cursive;
      justify-content: space-around;
      align-items: center;
      }
      
      .usuario{
      display: flex;
      gap: 20px;
      }
      
      .usuario-icon{
        font-size: 30px;
      }
      
      .header-button{
      border-radius: 7px;
      text-align: center;
      font-size: 16px;
      font-family: 'Roboto Condensed', sans-serif;
      border: 2px solid white;
      background-color: transparent;
      color: white;
      padding: 2px 9px;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out;
      text-decoration: none;
      }
      
      .header-button:hover{
      background-color: rgb(11, 172, 172);
      }
      /* FIN HEADER*/
      
      /* MENU */
      #menu2{
      position: absolute;
      left: 150px;
      }
      
      #menu2 button{
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      transition: color 0.5s ease-in-out;
      }
      
      /*cuando pasamos el cursor por arriba cambia el color*/
      #menu2 button:hover{
      color: #b3e5fc;
      }
      
      #menu2 i{
      font-size: 20px;
      }
      
      .side-bar{
      position: absolute; /*no ocupa espacio*/
      background-color: rgb(17, 90, 90);
      width: 280px;
      top: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
      }
      
      .side-bar.open{
      transform: translateX(0);
      }
      
      nav p{
      font-family: 'Fira Sans', sans-serif;
      color: white;
      font-size: 25px;
      margin-top: 23px;
      margin-left: 50px;
      }
      
      .conj-botones-menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: space-between;
      padding: 260px 50px;
      }
      
      .boton-menu{
      font-family: 'Fira Sans', sans-serif;
      color: white;
      font-size: 20px;
      cursor: pointer;
      transition: color 0.5s ease-in-out;
      text-decoration: none;
      }
      
      .boton-menu:hover{
      color: black;
      }
      
      .boton-menu-seleccionado{
        font-family: 'Fira Sans', sans-serif;
        color: black;
        font-size: 20px;
        cursor: pointer;
        transition: color 0.5s ease-in-out;
        text-decoration: none;
        text-decoration: underline;
      }
      
      .cruz{
      position: absolute;
      background-color: transparent;
      border: none;
      right: 20px;
      top: 20px;
      cursor: pointer;
      color: white;
      transition: color 0.5s ease-in-out;
      }
      
      .cruz:hover{
      color: black;
      }
      
      .cruz i{
      font-size: 30px;
      
  }
      
  /* FIN MENU */
      
  /* MAIN */
      
  h1{
    font-family: 'Fira Sans', sans-serif;
    padding: 45px 0 15px 0;
  }
     
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    border: 2px solid darkcyan;
    border-radius: 20px;
    width: 700px;
    border-spacing: 0;
  }
  
  
  input{
    width: 300px;
    height: 30px;
    border: none;
    background-color: #f5f5f5;
    color: #757575;
    border-radius: 15px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  th {
    background-color: darkcyan;
    color: white;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
  }
  
  .celda-filtrado{
    border-bottom: none;
  
  }
  
  .ultima-fila{
    border-bottom: none;
  }
  
  td {
    border-bottom: 2px solid darkcyan;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 6px 16px;
    font-size: 16px;
  }
  
  .fila-seleccionar:hover{
    background-color: rgb(34, 156, 156);
    color: white;
  }
  
  .boton-filtrar{
    text-decoration: none;
    border: 1px solid darkcyan;
    border-radius: 8px;
    background-color: white;
    color: darkcyan;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .boton-filtrar:hover{
    background-color: #ecf2f5;
  }
  
  .boton-aceptar{
    border-radius: 7px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    background-color: rgb(20, 172, 32);
    color: white;
    padding: 2px 8px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
  }
  
  .boton-aceptar:hover{
    color: #d6fcb3;
  }
  
  .boton-rechazar{
    border-radius: 7px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    background-color: rgb(196, 13, 13);
    color: white;
    padding: 2px 8px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
  }
  
  .boton-rechazar:hover{
    color: #fcb3b3;
  }

  .boton-estado{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    background-color: rgb(27, 167, 167);
    color: white;
    padding: 2px 8px;
  }
  
  .DNI{
    color: rgb(1, 122, 122);
  }
  /* MAIN*/
  
  /* FOOTER */
  .contacto-general{
      display: flex;
      padding: 0px 350px;
      justify-content: space-between;
  }
    
  .contacto{
    display: flex;
    gap: 10px;
  }
    
  .texto-contactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .contacto-icon{
    font-size: 40px;
  }
    
  footer{
    background-color: #A632D4;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    flex-direction: column;
    gap: 20px;
  }
  /* FIN FOOTER*/