<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INICIO SESION</title>
    <style> @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&display=swap');</style>
    <link rel="stylesheet" href="../css/estilosIniciarSesion.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="../fotos/patitapro.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap"
      rel="stylesheet"
    >
    <script
      src="https://kit.fontawesome.com/d1f11e4bbc.js"
      crossorigin="anonymous"
    ></script>
    <!-- Material Icon CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

      

  </head>
  
  <body>
    <header>
      <div class="logo">
        <img src="../fotos/logoBlanco.png" alt="logo" width="10%">
        <h2>Patitas</h2>
      </div>
      <div class="botones">
        <a href="iniciarSesion.html" type="button" class="header-button">Iniciar sesion</a>
        <a href="registrarPersona.html" type="button" class="header-button">Registrarse</a>
      </div>
    </header>
    
    <main>
        <section class="form-img">
            <section class="formulario">
              <div class="titulo">
                <h1>INICIAR SESION</h1>
                <div class="icon-titulo">
                  <i class="fas fa-paw"></i>
                </div>
              </div>
                <form onsubmit="return false">
                    <section class="inicio-sesion">
                        <fieldset>
                          <div id="appVue">
                            <label>
                                <input placeholder="Ingrese nombre de usuario" v-model="username" type="text" name="usuario" id="usuario" value="" required>                                
                            </label>
                            <br> <br>
                            <label>
                                <input placeholder="Ingrese contraseña"  v-model="password" type="password" name="contrasenia" id="contrasenia" value="" required>
                            </label>
                            <br> <br>
                            <section>
                              <button class="boton-iniciarSesion" v-on:click="login">Iniciar Sesion</button>
                              <a id="anchorID" href="index.html" target = "_self"></a>
                            </section>
                            <section>
                                <br>
                                <button type ="button" class="boton-olv-contraseña" onclick="curtite()">¿Olvidaste tu contraseña?</button>
                            </section>
                          </div>
                        </fieldset>
                        
                    </section>
                </form>
            </section>
            
            <section class="imagen">
                <img src="../fotos/undraw_woman_mevk.png" alt="imgIniciarSesion" width="400px">
            </section> 

        </section>


    </main>

    <footer>
        <section>
          <div class="texto-contactanos">
            <h3>CONTACTANOS!</h3>
            <p>Ante cualquier duda no dude en consultarnos.</p>
            <p>Estamos a su disposicion.</p>
          </div>
        </section>
  
        <section class="contacto-general">
          <section class="contacto">
            <div class="contacto-icon">
              <i class="fas fa-envelope-square"></i>
            </div>
            <div class="contacto-info">
              <p>MAIL</p>
              <p>patitas@gmail.com</p>
              <p></p>
            </div>
          </section>
            <section class="contacto">
                <div class="contacto-icon">
                    <i class="fab fa-facebook-square"></i>
                </div>
                <div class="contacto-info">
                    <p>FACEBOOK</p>
                    <p>PatitasOk</p>
                </div>
            </section>
          <section class="contacto">
              <div class="contacto-icon">
                <i class="fas fa-phone-square-alt"></i>
              </div>
              <div class="contacto-info">
                <p>TELEFONO</p>
                <p>11 2345-6789</p>
              </div>
            </section>
        </section>
      </footer>
<script type="text/javascript" src="../jscript/menu.js"></script>
<script type="text/javascript" src="../jscript/iniciarSesion.js"></script>
<script type="text/javascript" src="../jscript/vue.js"></script>
</body>
</html>