<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar</title>
    <link rel="icon" href="../fotos/patitapro.png">
    <style> @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&display=swap');</style>
    <link rel="stylesheet" href="../css/estilosRegistroPersona.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap"
      rel="stylesheet"
    >
    <script
      src="https://kit.fontawesome.com/d1f11e4bbc.js"
      crossorigin="anonymous"
    ></script>
    <!-- Material Icon CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  
  <body>
    <header>
      <div class="logo">
        <img src="../fotos/logoBlanco.png" alt="logo" width="10%">
        <h2>Patitas</h2>
      </div>
      <div class="botones">
        <a href="iniciarSesion.html" type="button" class="header-button">Iniciar sesion</a>
        <a href="registrarPersona.html" type="button" class="header-button">Registrarse</a>
      </div>
    </header>

    <main>
      <section>
        <div class="titulo">
          <h1>REGISTRO</h1>
          <div class="icon-titulo">
            <i class="fas fa-paw"></i>
          </div>
        </div>
        
        <br />
        <form id = "appVueRegistro" onsubmit="return false" autocomplete="on">
        

          <section class="datos-personales">
            <fieldset>
              
              <h3 class="titulos-form">Datos personales</h3>
              <label>
                <input
                  placeholder="Ingrese su nombre "
                  type="text"
                  name="nombre"
                  v-model="nombre"
                  value=""
                  autocomplete="on"
                  required
                />
              </label>
              <br />
              <br />
              <label>
                <input
                  placeholder="Ingrese su apellido "
                  type="text"
                  name="apellido"
                  v-model="apellido"
                  value=""
                  autocomplete="on"
                  required
                />
              </label>
              <br />
              <br />
              <label>Ingrese fecha de nacimiento
                <input
                  type="date"
                  name="fechaDeNacimiento"
                  v-model="fechaDeNacimiento"
                  value=""
                  autocomplete="on"
                  required
                />
              </label>
              <br />
              <br />
              <div id="dni">
                <select name="selector" v-model="documento">
                  <option disabled value="">Seleccione un elemento</option>
                  <option value="DNI" >DNI</option>
                  <option value="Pasaporte">Pasaporte</option>
                </select>
                <input
                  placeholder="Ingrese el número"
                  type="text"
                  name="numero"
                  v-model="numero"
                  value=""
                  autocomplete="on"
                />
              </div>
              <br>
              <label>
                <input
                  placeholder="Ingrese su número de telefono"
                  type="text"
                  name="numero de telefono"
                  v-model="telefono"
                  value=""
                  autocomplete="on"
                />
              </label>
              <br />
              <br />
              <label>
                <input
                  placeholder="Ingrese su email"
                  type="text"
                  name="email"
                  v-model="email"
                  value=""
                  autocomplete="on"
                />
              </label>
              <br />
              <br />
              <div class="formaNotif">
                <b> Seleccione las formas de notificacion:</b>
                  <br>                
                  <br>
                  <label class="container">SMS
                    <input
                        type = "checkbox"
                        name = "sms"
                        value = "SMS"
                        v-model = "formasNotif"
                        autocomplete="on"
                    />
                    <span class="checkmark"></span>
                  </label>
                  <br>
                  <label class="container">E-Mail
                    <input
                    type = "checkbox"
                    name = "email"
                    value = "email"
                    v-model = "formasNotif"
                    autocomplete="on"
                    />
                    <span class="checkmark"></span>
                  </label>
                  <br>
                  <label class="container"> Whatsapp
                    <input
                    type = "checkbox"
                    name = "whatsapp"
                    value = "Whatsapp"
                    v-model = "formasNotif"
                    autocomplete="on"
                    />
                    <span class="checkmark"></span>
                  </label>                         
                  <br>         
              </div>     
                            
            </fieldset>          
            
            <section>
                <img src="../fotos/undraw_decorative_friends_q2np.png" alt="dibujo" width="350px">
            </section>
          </section>


          <section class="usuario-foto">
            <fieldset>
              <h3 class="titulos-form">Usuario</h3>
              <input
                placeholder="Ingrese su usuario"
                type="text"
                name="usuario"
                v-model="username"
                value=""
                autocomplete="on"
              />
              <br />
              <br />
              <label>
                <input
                  placeholder="Ingrese su contraseña"
                  type="password"
                  name="contraseña"
                  v-model="password"
                  value=""
                  autocomplete="on"
                />
              </label>
              <br />
              <br />
              <label>
                <input
                  placeholder="Ingrese otra vez contraseña"
                  type="password"
                  name="contraseña"
                  v-model="password2"
                  value=""
                  autocomplete="on"
                />
              </label>

              <br />
              <br />
              <div class="preguntaDuenioRescatista">
                <b class="formaNotif">Es duenio o rescatista: </b>
                <br>
                <br>
                <label class="container">Duenio
                  <input type="radio" 
                    class="radio" 
                    name="tipo" 
                    value="DUENIO" 
                    v-model= "tipo"
                    autocomplete="on">
                  <span class="checkmark"></span>
                </label>
                <br>
                <label class="container"> Rescatista
                  <input 
                    type="radio" 
                    class="radio" 
                    name="tipo" 
                    value="RESCATISTA" 
                    v-model= "tipo"
                    autocomplete="on">
                  <span class="checkmark"></span>
                </label>
                <br>
              </div>
              

            </fieldset>
            <br />
            <fieldset>
              <h3 class="titulos-form">Contacto</h3>
              <label>
                <input
                  placeholder="Ingrese su nombre "
                  type="text"
                  name="nombre"
                  v-model="nombreCon"
                  value=""
                  autocomplete="on"
                  required
                />
              </label>
              <br />
              <br />
              <label>
                <input
                  placeholder="Ingrese su apellido "
                  type="text"
                  name="apellido"
                  v-model="apellidoCon"
                  value=""
                  required
                  autocomplete="on"
                />
              </label>
              <br />
              <br />
              <label>
                <input
                  placeholder="Ingrese el numero de telefono"
                  type="text"
                  name="telefono"
                  v-model="telefonoCon"
                  value=""
                  required
                  autocomplete="on"
                />
              </label>
              <br />
              <br />
              <label>
                <input
                  placeholder="Ingrese email"
                  type="text"
                  name="email"
                  v-model="emailCon"
                  value=""
                  required
                  autocomplete="on"
                />
              </label>
              <br />
              <br />
              <div class="formaNotif">
                <b> Seleccione las formas de notificacion:</b>
                  <br>
                  <br>
                  <label class="container">SMS
                    <input
                        type = "checkbox"
                        name = "sms"
                        value = "SMS"
                        v-model = "formasNotifCon"
                        autocomplete="on"
                    />
                    <span class="checkmark"></span>
                  </label>
                  <br>
                  <label class="container">E-Mail
                    <input
                        type = "checkbox"
                        name = "email"
                        value = "email"
                        v-model = "formasNotifCon"
                        autocomplete="on"
                    />
                    <span class="checkmark"></span>
                  </label>
                  <br>
                  <label class="container"> Whatsapp
                    <input
                        type = "checkbox"
                        name = "whatsapp"
                        value = "Whatsapp"
                        v-model = "formasNotifCon"
                        autocomplete="on"
                    />
                    <span class="checkmark"></span>
                  </label>
                  <br>
            </div>
              
            </fieldset>
            <!-- <button class="boton-registrarse" type="submit">Registrarse</button> -->
            <button class="boton-registrarse" v-on:click="registrarse">Registrarse</button>
            <a id="agregarContacto" href="agregarContacto.html" target = "_self"></a>
            <a id="index" href="iniciarSesion.html" target = "_self"></a>
          </section>
        
        </form>
      </section>
    </main>

    <footer>
      <section>
        <div class="texto-contactanos">
          <h3>CONTACTANOS!</h3>
          <p>Ante cualquier duda no dude en consultarnos.</p>
          <p>Estamos a su disposicion.</p>
        </div>
      </section>

      <section class="contacto-general">
        <section class="contacto">
          <div class="contacto-icon">
            <i class="fas fa-envelope-square"></i>
          </div>
          <div class="contacto-info">
            <p>MAIL</p>
            <p>patitas@gmail.com</p>
            <p></p>
          </div>
        </section>
          <section class="contacto">
              <div class="contacto-icon">
                  <i class="fab fa-facebook-square"></i>
              </div>
              <div class="contacto-info">
                  <p>FACEBOOK</p>
                  <p>PatitasOk</p>
              </div>
          </section>
        <section class="contacto">
            <div class="contacto-icon">
              <i class="fas fa-phone-square-alt"></i>
            </div>
            <div class="contacto-info">
              <p>TELEFONO</p>
              <p>11 2345-6789</p>
            </div>
          </section>
      </section>
    </footer>
  
    <script type="text/javascript" src="../jscript/menu.js"></script>
    <script type="text/javascript" src="../jscript/registrarPersona.js"></script>
  </body>
</html>
