*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
}

/* HEADER */
header{
  background-color: #A632D4;
  display: flex;
  height: 85px;
  /*width: 100vw;*/
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  justify-content: space-around;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  gap: 5vh;
  padding-left: 40vh;

}

  
.usuario{
  display: flex;
  gap: 20px;
  padding-right: 25vh;
  align-items: center;

}
  
.usuario-icon{
  font-size: 30px;
}
  
.header-button{
  border-radius: 7px;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 2px 9px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  text-decoration: none;
}
  
.header-button:hover{
  background-color: rgb(11, 172, 172);
}
/* FIN HEADER*/
  
/* MENU */
#menu2{
  position: absolute;
  left: 150px;
}
  
#menu2 button{
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
  
/*cuando pasamos el cursor por arriba cambia el color*/
#menu2 button:hover{
  color: #b3e5fc;
}
  
#menu2 i{
  font-size: 20px;
}
  
.side-bar{
  position: absolute; /*no ocupa espacio*/
  background-color: rgb(69, 17, 90);
  width: 280px;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 2; /*Para que aparezca arriba de la portada, (cuanto mas adelante debe estar as grande es el num)*/
}
  
.side-bar.open{
  transform: translateX(0);
}
  
nav p{
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 23px;
  margin-left: 50px;
}
  
.conj-botones-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  padding: 100px 50px;
  gap: 8vh;
}
  
.boton-menu{
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  text-decoration: none;

}
  


.boton-menu:hover{
  color: rgb(183, 116, 189);
}
  
.boton-menu-seleccionado{
  font-family: 'Fira Sans', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
  text-decoration: underline;
}
  
.cruz{
  position: absolute;
  background-color: transparent;
  border: none;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: white;
  transition: color 0.5s ease-in-out;
}
  
.cruz:hover{
  color: black;
}
  
.cruz i{
  font-size: 30px;
}
/* FIN MENU */

/* FORMULARIOS */
.portada{
  z-index: 1;
  background-image: url("../fotos/FotoMascotas.jpg");
  background-blend-mode: darken;
  height: 75vh;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.titulo{
  display: flex;
  gap: 25px;
}

h1{
  font-family: 'Fira Sans', sans-serif;
  padding: 40px 0 15px 260px;
}

.icon-titulo{
  font-size: 20px;
  padding: 40px 0 0 0;
}

form{
  display: flex;
  justify-content: center;
  gap: 10vh;
}


form fieldset{
  border: 2px solid #A632D4;
  border-radius: 15px;
  padding: 25px;
  height: 66vh;
}

.titulos-form{
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 15px;
}

form input{
  width: 300px;
  height: 45px;
  border: none;
  background-color: #f5f5f5;
  color: #757575;
  border-radius: 15px;
  padding: 10px 12px;
  font-size: 16px;
}

textarea{
  width: 300px;
  height: 75px;
  border: none;
  background-color: #f5f5f5;
  color: #757575;
  border-radius: 15px;
  padding: 10px 12px;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}

select{
  display: inline-block;
  width: 50%;
  border: none;
  background-color: #f5f5f5;
  color: #757575;
  border-radius: 15px;
  padding: 10px 12px;
}

select option{
  text-align: center;
}

#selectores{
  display: flex;
  gap: 5px;
}

#selectores input{
  display: inline-block;
  width: 70%;
}

.descripcion{
  width: 300px;
  height: 45px;
  border: none;
  background-color: #f5f5f5;
  color: #757575;
  border-radius: 15px;
  padding: 10px 12px;
  font-size: 16px;
}

.formulario-foto{
  margin-top: 35px;
  height: 24vh;
}

.boton-registrarse{
  margin-top: 35px;
  border-radius: 7px;
  text-align: center;
  font-size: 21px;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  background-color: #C281EA;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

.boton-registrarse:hover{
  color: rgb(220, 165, 236);
}
/*
.fotoPerrito{
  position: absolute;
  width: 55vh;
  margin-right: 500vh;
}*/

#caracteristicas{
  display: flex;
  gap: 2vh;
}

#caracteristicas select{
  width: 40%;
}

#caracteristicas input{
  width: 60%;
}
/* FIN FORMULARIOS */

/* FOOTER */
.contacto-general{
  display: flex;
  padding: 0px 350px;
  justify-content: space-between;
}

.contacto{
  display: flex;
  gap: 10px;
}

.texto-contactanos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto-icon{
  font-size: 40px;
}

footer{
  background-color: #A632D4;
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  flex-direction: column;
  gap: 20px;
}
/* FIN FOOTER*/

