*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    width: 100%;
  }
  
  /* HEADER */
  header{
    background-color: #A632D4;
    display: flex;
    height: 85px;
    /*width: 100vw;*/
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo{
    display: flex;
    align-items: center;
    gap: 5vh;
    padding-left: 40vh;
  
  }
  
    
  .usuario{
    display: flex;
    gap: 20px;
    padding-right: 25vh;
    align-items: center;
  
  }
    
  .usuario-icon{
    font-size: 30px;
  }
    
  .header-button{
    border-radius: 7px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 2px 9px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    text-decoration: none;
  }
    
  .header-button:hover{
    background-color: rgb(11, 172, 172);
  }
  /* FIN HEADER*/
    
   /* MENU */
   #menu2{
    position: absolute;
    left: 150px;
  }
    
  #menu2 button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
  }
    
  /*cuando pasamos el cursor por arriba cambia el color*/
  #menu2 button:hover{
    color: #b3e5fc;
  }
    
  #menu2 i{
    font-size: 20px;
  }
    
  .side-bar{
    position: absolute; /*no ocupa espacio*/
    background-color: rgba(69, 17, 90, 0.89);
    width: 280px;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 2; /*Para que aparezca arriba de la portada, (cuanto mas adelante debe estar as grande es el num)*/
  }
    
  .side-bar.open{
    transform: translateX(0);
  }
    
  nav p{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 28px;
    margin-left: 50px;
  }
    
  .conj-botones-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding: 50px 50px;
    gap: 5vh;
  }
    
  .boton-menu{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 2.8vh;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
    text-decoration: none;
  }
    
  
  
  .boton-menu:hover{
    color: rgb(216, 148, 223);
  }
    
  .boton-menu-seleccionado{
    font-family: 'Fira Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    text-decoration: underline;
  }
    
  .cruz{
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: white;
    transition: color 0.5s ease-in-out;
  }
    
  .cruz:hover{
    color: rgb(211, 138, 218);
  }
    
  .cruz i{
    font-size: 30px;
  }
  /* FIN MENU */
  
  /* FORMULARIOS */
  .portada{
    z-index: 1;
    background-image: url("../fotos/FotoMascotas.jpg");
    background-blend-mode: darken;
    height: 75vh;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  
  .titulo{
    display: flex;
    gap: 25px;
  }
  
  h1{
    font-family: 'Fira Sans', sans-serif;
    padding: 40px 0 15px 260px;
  }
  
  .icon-titulo{
    font-size: 20px;
    padding: 40px 0 0 0;
  }
  
  form{
    display: flex;
    justify-content: center;
    gap: 10vh;
  }
  
  
  form fieldset{
    border: 2px solid #A632D4;
    border-radius: 15px;
    padding: 25px;
    height: 66vh;
  }
  
  .titulos-form{
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 15px;
  }
  
  form input{
    width: 300px;
    height: 45px;
    border: none;
    background-color: #f5f5f5;
    color: #757575;
    border-radius: 15px;
    padding: 10px 12px;
    font-size: 16px;
  }
  
  textarea{
    width: 300px;
    height: 75px;
    border: none;
    background-color: #f5f5f5;
    color: #757575;
    border-radius: 15px;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
  }
  
  select{
    display: inline-block;
    width: 100%;
    border: none;
    background-color: #f5f5f5;
    color: #757575;
    border-radius: 15px;
    padding: 10px 12px;
  }
  
  
  .descripcion{
    width: 300px;
    height: 45px;
    border: none;
    background-color: #f5f5f5;
    color: #757575;
    border-radius: 15px;
    padding: 10px 12px;
    font-size: 16px;
  }

  .preguntaSiNo{
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .container{
    display: block;
    height: 5vh;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    padding: 2vh 0 0 10vh;
  }
  
  .container input { /*Escondemos el default checkbox*/
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #C281EA;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkmark{
    position: absolute;
    top: 1.5vh;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .boton-enviar{
    margin-top: 35px;
    border-radius: 7px;
    text-align: center;
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    background-color: #C281EA;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
  }
  
  .boton-enviar:hover{
    color: rgb(220, 165, 236);
  }

  /* FIN FORMULARIOS */
  
  /* FOOTER */
  .contacto-general{
    display: flex;
    padding: 0px 350px;
    justify-content: space-between;
  }
  
  .contacto{
    display: flex;
    gap: 10px;
  }
  
  .texto-contactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contacto-icon{
    font-size: 40px;
  }
  
  footer{
    background-color: #A632D4;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    flex-direction: column;
    gap: 20px;
  }
  /* FIN FOOTER*/
  
  