*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  width: 100%;
}

/* HEADER */
header{
  background-color: #A632D4;
  display: flex;
  height: 85px;
  /*width: 100vw;*/
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  justify-content: space-around;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  gap: 2vh;
  padding-left: 40vh;
}
  
.usuario{
  display: flex;
  gap: 20px;
  padding-right: 25vh;
  align-items: center;
  width: 60vh;
}

.usuario-icon{
  font-size: 30px;
}

/* FIN HEADER*/
  
  /* MENU */
  #menu2{
  position: absolute;
  left: 150px;
  }
  
  #menu2 button{
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  }
  
  /*cuando pasamos el cursor por arriba cambia el color*/
  #menu2 button:hover{
  color: #b3e5fc;
  }
  
  #menu2 i{
  font-size: 20px;
  }
  
  .side-bar{
  position: absolute; /*no ocupa espacio*/
  background-color: rgb(69, 17, 90);
  width: 280px;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 2
  }
  
  .side-bar.open{
  transform: translateX(0);
  }
  
  nav p{
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 23px;
  margin-left: 50px;
  }
  
  .conj-botones-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  padding: 100px 50px;
  gap: 8vh;
  }
  
  .boton-menu{
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
  }
  


  .boton-menu:hover{
  color: rgb(183, 116, 189);
  }
  
  .boton-menu-seleccionado{
    font-family: 'Fira Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    text-decoration: underline;
  }
  
  .cruz{
  position: absolute;
  background-color: transparent;
  border: none;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: white;
  transition: color 0.5s ease-in-out;
  }
  
  .cruz:hover{
  color: black;
  }
  
  .cruz i{
  font-size: 30px;
  
  }
  
  /* FIN MENU */

/* MAIN */
.portada{
  z-index: 1;
  background-image: url("../fotos/portadaAdoptar.jpg");
  background-blend-mode: darken;
  height: 75vh;
  background-position: center -50px;
  background-size: cover;
  position: relative;
}

/* PARA OSCURECER LA IMAGEN DEL FONDO */
.portada::before{
  content:''; /* existe contenido */
  position: absolute; /* para poder estirarlo */ 
  top: 0; /* lo estiramos a todos los extremos de la portada */
  bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.479);
}

.portada section{
  position: relative; /*Para que el texto este adelante del fondo negro transparente*/
  color: white;
  padding: 30vh 1vh 0 25vh;
}

.portada h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 8vh;
  margin-bottom: 2vh;
}

.centered{
	padding: 0 30vh;
}

.card{
	background: rgb(166, 196, 97);
	width: 40%;
  height: 300px;
  border-radius: 5%;
}

.cards {
  display: flex;
  justify-content: space-between;

  margin-top: 5%;
  padding: 1.5%;
  box-sizing: border-box;
  gap: 10vh;
  background-color: #A632D4;
}

a{
	color: black;
	text-decoration: none;
}

.card-body{
  padding: 1.4em;
}

ul{
  list-style-type: none;
}

.card-title{
  background: rgba(199, 233, 120, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase; /* Mayusculas */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.card-header {
  position: relative;
  height: 6vh;
  overflow: hidden;
}

.card-body ul{
	font-size: 95%;
}

.card:hover{
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  background-color: rgb(161, 211, 138);
}

.texto{
  display: flex;
  gap: 2vh;
  padding-bottom: 3vh;
}

.texto p{
  font-family: 'Abel', sans-serif;
  color: white;
  text-transform: uppercase;
}
  
.icon{
  font-size: 2.5vh;
  color: white;
}

span {
  display: block;
}

figure{
	margin: 0;
}

img{
  max-width: 100%; /* stop images from breaking out of their bounding boxes. */
}
/* FIN MAIN */

/* FOOTER */
.contacto-general{
  display: flex;
  padding: 0px 350px;
  justify-content: space-between;
}

.contacto{
  display: flex;
  gap: 10px;
}

.texto-contactanos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

.contacto-icon{
  font-size: 40px;
}

footer{
  background-color: #A632D4;
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  flex-direction: column;
  gap: 20px;
}
/*FIN FOOTER*/